* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.header {
    text-align: center;
}

.search {
    text-align: center;
    
}

.section {
    display: flex;
    justify-content: space-evenly;
    
}

.section input {
    font-size: 20px;
}

.section button {
    font-size: 20px;
}

.container {
    display: flex;
    background-color: teal;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80vw;
}

.card {
    padding: 1em;
    margin: 0.5em;
    background-color: rgb(247, 175, 81);
    
}

.card img {
    width: 30vw;
    height: 30vh;
}

